<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Blog </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="blog-page blog-content-1">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="blog-post-lg bordered blog-container">
                                            <div class="blog-img-thumb">
                                                <a href="javascript:;">
                                                    <img src="http://i.imgur.com/BwmT69Q.jpg" />
                                                </a>
                                            </div>
                                            <div class="blog-post-content">
                                                <h2 class="blog-title blog-post-title">
                                                    <a ui-sref="testpost1">FreeCodeCamp Basic Javascript Algorithm Problems (& Solutions)</a>
                                                </h2>
                                                <p class="blog-post-desc"> Recently I have been working through the Basic JS algorithmic probems at <a class="link-hover" target="_blank" href="http://www.freecodecamp.com">FreeCodeCamp</a>. Some of the problems were a little tough, so I decided to 
                                                write a post on how I worked through these problems. </p>
                                                <div class="blog-post-foot">
                                                    <ul class="blog-post-tags">
                                                        <li class="uppercase">
                                                            <a href="javascript:;">Javascript</a>
                                                        </li>
                                                        <!--<li class="uppercase">
                                                            <a href="javascript:;">Sass</a>
                                                        </li>
                                                        <li class="uppercase">
                                                            <a href="javascript:;">HTML</a>
                                                        </li>-->
                                                    </ul>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-calendar font-red"></i>
                                                        <a href="javascript:;">Feb 18, 2016</a>
                                                    </div>
                                                    <div class="blog-post-meta">
                                                        <i class="icon-bubble font-red"></i>
                                                        <a href="javascript:;">1 Comments</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                       
                                    </div>
                                    <div class="col-lg-6">
                                        
                                                <div class="blog-quote bordered blog-container">
                                                    <div class="blog-quote-label bg-red-intense">
                                                        <i class="fa fa-quote-left"></i> Blog will be up and running soon! </div>
                                                    <div class="blog-quote-avatar">
                                                        <a ui-sref="home">
                                                            <img src="./assets/layouts/layout3/img/profile-pic.jpg" />
                                                        </a>
                                                    </div>
                                                    <div class="blog-quote-author">
                                                        <h3 class="blog-title blog-quote-title">
                                                            <a ui-sref="home">Chase Isley</a>
                                                        </h3>
                                                        <p class="blog-quote-desc">Developer</p>
                                                    </div>
                                                </div>
                                                                                                                                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->