
        
                
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="blog-page blog-content-2">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="blog-single-content bordered blog-container">
                                    <div class="blog-single-head">
                                        <h1 class="blog-single-head-title">FreeCodeCamp Basic Javascript Algorithm Problems (& Solutions)</h1>
                                        <div class="blog-single-head-date">
                                            <i class="icon-calendar font-red"></i>
                                            <a href="javascript:;">Feb 19, 2016</a>
                                        </div>
                                    </div>
                                    <div class="blog-single-img">
                                        <img src="http://i.imgur.com/BwmT69Q.jpg" /> 
                                    </div>
                                    <div class="blog-single-desc">
                                        <p> Recently I have been working through the Basic JS algorithmic probems at <a class="link-hover" target="_blank" href="http://www.freecodecamp.com">FreeCodeCamp</a>. Some of the problems were a little tough, so I decided to 
                                        write a post on how I worked through these problems. </p>
                                        <a class="link-hover" target="_blank" href="http://www.freecodecamp.com/challenges/reverse-a-string"><h3>Reverse a String</h3></a><br/>                                       
                                        <p>This one is fairly simple. There are many ways to solve this, but I am going to show you two different ways that I solved it.</p>
                                        <h4 class="solution">Solution 1</h4>
                                        <p>The first way I solved it was using the split(), reverse(), and join() methods. Here is the problem below</p>
                                        <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN PORTLET-->
                                    <div class="portlet light ">
                                        <div class="portlet-body">
                                            <textarea id="code_editor_demo_1">function reverseString(str) {
}
reverseString("hello"); 
                                            </textarea>
                                        </div>
                                    </div>
                                    <!-- END PORTLET-->
                                </div>
                                
                            </div>
                            <p><strong>Step 1:</strong> We want to turn the passed in string into an array. Since we are passing in the string "hello", then
                                we will start out by using the "Split Method". <br>Since we have a function, we want to return something, 
                                so the code would start off with a return statement, which is: <br><br><i>return str.split("");</i>
                                <br><br>What this does is splits each letter in the string, and makes an array.
                                This is what is returned: <br><br><i>["h","e","l","l","o"]</i>.
                            </p>
                            <p><strong>Step 2:</strong> We want to reverse the elements in the array. We can easily do this with the "Reverse Method".<br>
                                The code looks like this:<br><br><i>return str.split("").reverse();</i><br><br>
                                This is what is returned: <br><br><i>["o","l","l","e","h"]</i>
                            </p>
                            <p><strong>Step 3:</strong> Now that the array is reversed, our last step is to make the array a String. We do this with the "Join Method".<br><br>
                                What the join method does is join the elements of the array into a String. Since our array has been reversed, we simply add
                                join("") to the end of our return statement. What goes inside the parentheses of join("") is called the seperator. By default, the separator is a comma (,).
                                Since we have (""), that means that the array will become a String with no spaces between each element. <br>The code looks like this:<br><br><i>return str.split("").reverse().join("");</i><br><br>
                                The final result returned is:</p>
                             <div class="col-md-12">
                                    <!-- BEGIN PORTLET-->
                                    <div class="portlet light">
                                        <div class="portlet-body">
                                            <textarea id="code_editor_demo_2">function reverseString(str) {
    return str.split("").reverse().join("");                                                
}
reverseString("hello"); 

//olleh
                                            </textarea>
                                        </div>
                                    </div>
                                    <!-- END PORTLET-->
                                </div> 
                                <h4 class="solution">Solution 2</h4>  
                                <p>The second way I solved it was using a reverse for loop with concatenation</p>
                                <p><strong>Step 1:</strong> We want to create a new variable and set it to an empty string.<br><br>
                                <i>var reverseStr = "";</i>
                                </p>
                                <p><strong>Step 2:</strong> We want to create a for loop, but instead of starting the loop from the beginning of the passed-in string,
                                we want to start from the end of the passed-in string. We set it up like this:<br><br>
                                <i>for (var i = str.length - 1; i >= 0; i--)</i>
                                <p>Remember, a string has a 0 based index, which is why we set variable i to str.length - 1. str.length by itself is 5. 
                                   If we left var i = str.length, when the for loop runs, it will start at index 5, which is undefined if we pass
                                   in the string "hello". The last index of "hello" is 4.</p>
                                </p>
                                <p><strong>Step 3:</strong> We want to add each iteration of the for loop to our empty reverseStr string. We achieve that with the following code:<br><br>
                                <i>reverseStr += str[i];</i>
                                </p>
                                
                                
                                
                                
                             
                                
                              
                           
                                            

                            
                                        
                                    </div>
                                    
                            
                                    <div class="blog-single-foot">
                                        <ul class="blog-post-tags">
                                            <!--<li class="uppercase">
                                                <a href="javascript:;">Angular</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Node</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Express</a>
                                            </li>-->
                                            <li class="uppercase">
                                                <a href="javascript:;">Javascript</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-comments">
                                        <h3 class="sbold blog-comments-title">Comments(1)</h3>
                                        <div class="c-comment-list">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" alt="" src="../assets/layouts/layout3/img/profile-pic.jpg"> </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Chase</a> on
                                                        <span class="c-date">24 January 2015, 10:40AM</span>
                                                    </h4> Comments are not configured yet! It is on the todo list! </div>
                                            </div>
                                            <div class="media">
                                            </div>
                                            <div class="media">
                                            </div>
                                        </div>
                                        <h3 class="sbold blog-comments-title">Leave A Comment</h3>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Name" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Email" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Your Website" class="form-control c-square"> </div>
                                            <div class="form-group">
                                                <textarea rows="8" name="message" placeholder="Write comment here ..." class="form-control c-square"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn red uppercase btn-md sbold btn-block">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="blog-single-sidebar bordered blog-container">
                                    <div class="blog-single-sidebar-search">
                                        <div class="input-icon right">
                                            <i class="icon-magnifier"></i>
                                            <input type="text" class="form-control" placeholder="Search Blog"> </div>
                                    </div>
                                    <div class="blog-single-sidebar-recent">
                                        <h3 class="blog-sidebar-title uppercase">Recent Posts</h3>
                                        <ul>
                                            <li>
                                                <a ui-sref="testpost1">FreeCodeCamp Basic Javascript Algorithm Problems (& Solutions)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-tags">
                                        <h3 class="blog-sidebar-title uppercase">Tags</h3>
                                        <ul class="blog-post-tags">
                                            <!--<li class="uppercase">
                                                <a href="javascript:;">Angular</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Node</a>
                                            </li>
                                            <li class="uppercase">
                                                <a href="javascript:;">Express</a>
                                            </li>-->
                                            <li class="uppercase">
                                                <a href="javascript:;">Javascript</a>
                                            </li>
                                            <!--<li class="uppercase">
                                                <a href="javascript:;">JSON</a>
                                            </li>-->
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-links">
                                        <h3 class="blog-sidebar-title uppercase">Useful Links</h3>
                                        <ul>
                                            <li>
                                                <a href="https://angular.io/">Angular 2 </a>
                                            </li>
                                            <li>
                                                <a href="https://nodejs.org/en/">Node JS</a>
                                            </li>
                                            <li>
                                                <a href="https://facebook.github.io/react/">React</a>
                                            </li>
                                            <li>
                                                <a href="https://devmounta.in/">DevMountain Bootcamp</a>
                                            </li>
                                            <li>
                                                <a href="http://www.freecodecamp.com/">Free Code Camp</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="blog-single-sidebar-ui">
                                        <h3 class="blog-sidebar-title uppercase">Projects</h3>
                                        <div class="row ui-margin">
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/wOA9rq7.png" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/Yd6asPq.png" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/mPmVpfs.png" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/Azjf8gC.png" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/YClwKNR.png" />
                                                </a>
                                            </div>
                                            <div class="col-xs-4 ui-padding">
                                                <a ui-sref="projects">
                                                    <img src="http://i.imgur.com/1WUmC9j.png" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<script>
    var ComponentsCodeEditors = function () {
    
    var handleDemo1 = function () {
        var myTextArea = document.getElementById('code_editor_demo_1');
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            theme:"ambiance",
            mode: 'javascript'
        });
    }
    
    var handleDemo2 = function () {
        var myTextArea = document.getElementById('code_editor_demo_2');
        var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
            lineNumbers: true,
            matchBrackets: true,
            styleActiveLine: true,
            theme:"ambiance",
            mode: 'javascript'
        });
    }


    return {
        //main function to initiate the module
        init: function () {
            handleDemo1();
            handleDemo2();
        }
    };

}();
jQuery(document).ready(function() {    
   ComponentsCodeEditors.init(); 
});
</script>

        