
<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <div class="portfolio-content portfolio-1">
        <div id="js-filters-juicy-projects" class="cbp-l-filters-button">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item btn dark btn-outline uppercase"> All
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".angular" class="cbp-filter-item btn dark btn-outline uppercase"> Angular
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".angular2" class="cbp-filter-item btn dark btn-outline uppercase"> Angular 2
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".ionic" class="cbp-filter-item btn dark btn-outline uppercase"> Ionic
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".react" class="cbp-filter-item btn dark btn-outline uppercase"> React
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".wordpress" class="cbp-filter-item btn dark btn-outline uppercase"> Wordpress
                <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".other" class="cbp-filter-item btn dark btn-outline uppercase"> Other
                <div class="cbp-filter-counter"></div>
            </div>
        </div>
        <div id="js-grid-juicy-projects" class="cbp">
            <div class="cbp-item ionic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/c5SwtLx.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project1.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/wOA9rq7.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Food Truck Finder<br>by Chase Isley, Blake Hagen, Nick Pterson, & Tyler Murdock">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Food Truck Finder</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Ionic App</div>
            </div>
            <div class="cbp-item ionic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/W7w5SSV.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project15.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/DOsbFUi.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Bonavista Optics<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Bonavista Optics Business App</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">Ionic App</div>
            </div>
            <div class="cbp-item react">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/DyBHpjR.jpg" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project17.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/95In4KE.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="React Voting App<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">React Voting Web App</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center uppercase text-center">React</div>
            </div>
            <div class="cbp-item angular logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/NtcL95m.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/Yd6asPq.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Shopagram<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">Shopagram</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">M.E.A.N Web App</div>
            </div>
            <div class="cbp-item angular2 logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/xdB3OYm.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project13.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/QMpn8mw.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Angular 2 Quickstart<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">Angular 2 Quickstart App</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Angular 2</div>
            </div>
            <div class="cbp-item angular logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/SxfMnit.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project14.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/SxfMnit.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Angular 2 Quickstart<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">DevTube - Youtube Clone</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Angular</div>
            </div>
            <div class="cbp-item wordpress logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/8hGDvBE.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project16.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/8wnzdc9.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="F1LM<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">F1LM</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item wordpress logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/WNl1bni.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project5.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/mPmVpfs.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Bonavista Optics<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">Bonavista Optics</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item wordpress graphic">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/vnTJoQc.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/Azjf8gC.png"
                                class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Events and  More<br>by Tiberiu Neamu">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">Skyrider Wilderness Outfitters</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item identity wordpress">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/U60bVyf.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/YClwKNR.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="WhereTO App<br>by Tiberiu Neamu">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">T3Sub</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item wordpress">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/lansTEQ.png" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project12.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/1VX4Am4.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="T3 Sign Design<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">T3 Sign Design</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item wordpress">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/onZYHl8.png" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project11.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/TgDzvDh.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="TTT Jobs<br>by Chase Isley">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">TTT Jobs</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item identity wordpress">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/pw0qW6R.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/Cs3x5gu.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase btn red uppercase" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">Golden Grove Co-op</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item wordpress logos">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/E5cp92a.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project9.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/LJxonLE.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">Colorcadabra</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Wordpress</div>
            </div>
            <div class="cbp-item identity other">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="http://i.imgur.com/GJtJUdq.png" alt=""> </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="../assets/global/plugins/cubeportfolio/ajax/project10.html" class="cbp-singlePage cbp-l-caption-buttonLeft btn red uppercase" rel="nofollow">more info</a>
                                <a href="http://i.imgur.com/1WUmC9j.png" class="cbp-lightbox cbp-l-caption-buttonRight btn red uppercase" data-title="The iHelper<br>by Chase Isley & Alexander Scheuch">view larger</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center">The iHelper</div>
                <div class="cbp-l-grid-projects-desc uppercase text-center">Book</div>
            </div>
            
            
        </div>
        <div id="js-loadMore-juicy-projects" class="cbp-l-loadMore-button">
            <a href="../assets/global/plugins/cubeportfolio/ajax/loadMore.html" class="cbp-l-loadMore-link btn grey-mint btn-outline" rel="nofollow">
                <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
                <span class="cbp-l-loadMore-loadingText">LOADING...</span>
                <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
            </a>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT INNER -->
<script>
    // init cubeportfolio
    $('#js-grid-juicy-projects').cubeportfolio({
        filters: '#js-filters-juicy-projects',
        loadMore: '#js-loadMore-juicy-projects',
        loadMoreAction: 'click',
        layoutMode: 'grid',
        defaultFilter: '*',
        animationType: 'quicksand',
        gapHorizontal: 35,
        gapVertical: 30,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1500,
            cols: 5
        }, {
            width: 1100,
            cols: 4
        }, {
            width: 800,
            cols: 3
        }, {
            width: 480,
            cols: 2
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'overlayBottomReveal',
        displayType: 'sequentially',
        displayTypeSpeed: 80,

        // lightbox
        lightboxDelegate: '.cbp-lightbox',
        lightboxGallery: true,
        lightboxTitleSrc: 'data-title',
        lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',

        // singlePage popup
        singlePageDelegate: '.cbp-singlePage',
        singlePageDeeplinking: true,
        singlePageStickyNavigation: true,
        singlePageCounter: '<div class="cbp-popup-singlePage-counter">{{current}} of {{total}}</div>',
        singlePageCallback: function(url, element) {
            // to update singlePage content use the following method: this.updateSinglePage(yourContent)
            var t = this;

            $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'html',
                    timeout: 10000
                })
                .done(function(result) {
                    t.updateSinglePage(result);
                })
                .fail(function() {
                    t.updateSinglePage('AJAX Error! Please refresh the page!');
                });
        },
    });
</script>