<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li class="active"> Home </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->
            <div class="portlet light profile-sidebar-portlet">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://i.imgur.com/k1irzKA.jpg" class="img-responsive" alt=""> </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name"> Chase Isley </div>
                    <div class="profile-usertitle-job heading-red"> Developer </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                 <!--SIDEBAR BUTTONS -->
                <!--<div class="profile-userbuttons">
                    <button type="button" class="btn btn-circle green-haze btn-sm">Follow</button>
                    <button type="button" class="btn btn-circle btn-danger btn-sm">Message</button>
                </div>-->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li ng-class="{active: $state.includes('home.about')}">
                            <a ui-sref="about">
                                <i class="icon-user"></i> About Me </a>
                        </li>
                        <li>
                            <a ui-sref="projects">
                                <i class="icon-rocket"></i> Projects </a>
                        </li>                       
                        <li>
                            <a ui-sref="blog">
                                <i class="icon-notebook"></i> Blog </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                <!-- STAT -->
                <div class="row list-separated profile-stat">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 8 </div>
                        <div class="uppercase profile-stat-text heading-red"> Projects </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <div class="uppercase profile-stat-title"> 3 </div>
                        <div class="uppercase profile-stat-text heading-red"> In the Works </div>
                    </div>
                </div>
                <!-- END STAT -->
                <div>
                    <h4 class="profile-desc-title">Follow Me</h4>
                    <span class="profile-desc-text"> I promise to follow you back! </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-linkedin"></i>
                        <a href="https://www.linkedin.com/in/chaseisley">LinkedIn/chaseisley</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-twitter"></i>
                        <a href="https://twitter.com/Chase_Isley">@Chase_Isley</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-github"></i>
                        <a href="https://github.com/theonlychase">Github</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
            <!-- PORTLET PODCASTS -->
            <div class="portlet light">
                <div>
                    <h4 class="profile-desc-title">Podcasts</h4>
                    <span class="profile-desc-text"> These are some of my favorites! </span>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-code"></i>
                        <a href="https://devchat.tv/js-jabber/">Javascript Jabber</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-google"></i>
                        <a href="https://devchat.tv/adventures-in-angular">Adventures in Angular</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-connectdevelop"></i>
                        <a href="https://devchat.tv/react-native-radio">React Native</a>
                    </div>
                    <div class="margin-top-20 profile-desc-link">
                        <i class="fa fa-html5"></i>
                        <a href="https://frontendfive.codeschool.com/">Front End Five</a>
                    </div>
                </div>
            </div>
            <!-- END PORTLET PODCASTS -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up"> </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->